on init
    chmod 0777 /sbin/mmc32
    chmod 0777 /sbin/mmc32_writeprotect.sh
    start mmc32_writeprotect

service mmc32_writeprotect /sbin/mmc32_writeprotect.sh
    class core
    user root
    group root
    oneshot
    disabled
